<!-- Config file for the game -->

<config>
  <app>
    <title>Swap game</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="true"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="3"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>
  
  <audio>
	<music_folder>audio/music/</music_folder>
	<fx_folder>audio/fx/</fx_folder>
  </audio>

  <map>
    <folder>maps/</folder>
	<levels>
		<level name="level001.tmx"/>
		<level name="level002.tmx"/>
	</levels>
  </map>
  
  <object>
    <projectile_image>textures/projectile/projectile.png</projectile_image>
    <player_idle_image>textures/engineer character/engineer-idle.png</player_idle_image>
    <player_run_image>textures/engineer character/engineer-run.png</player_run_image>
    <player_jump_image>textures/engineer character/engineer-jump.png</player_jump_image>
    <robot_image>textures/robot_tileset.png</robot_image>
    <projectile>
      <speed>5</speed>
      <collider_width>5</collider_width>
      <collider_height>5</collider_height>
    </projectile>
    <box>
      <gravity>1200</gravity>
      <animation tile_width ="16" tile_height ="16">
        <inactive_animation speed ="0">
          <sprite x ="112" y ="208" w ="16" h="16"/>
        </inactive_animation>
        <active_animation speed ="0">
          <sprite x ="144" y ="208" w ="16" h="16"/>
        </active_animation>
      </animation>
    </box>
    <player>
      <shoot_height>20</shoot_height>
      <collider_width>10</collider_width>
      <collider_height>18</collider_height>
      <!-- The size we consider a standard tile to be (used when calculating moveSpeed and jumpHeight)-->
      <tile_size>8</tile_size>
      <gravity>150</gravity>
      <!-- Tiles it moves every second-->
      <move_speed_ground>16</move_speed_ground>
      <move_speed_air>12</move_speed_air>
      <!-- Tiles it reaches when the character jumps -->
      <jump_height>8</jump_height>
      <feet_collider_width>10</feet_collider_width>
      <feet_collider_height>5</feet_collider_height>
      <maximum_fall_velocity>750</maximum_fall_velocity>
      <animation tile_width ="16" tile_height ="28">
        <idle_animation speed ="0.25">
          <sprite x ="0" y ="0" w ="16" h="28"/>
          <sprite x ="16" y ="0" w ="16" h="28"/>
          <sprite x ="32" y ="0" w ="16" h="28"/>
          <sprite x ="48" y ="0" w ="16" h="28"/>
          <sprite x ="64" y ="0" w ="16" h="28"/>
          <sprite x ="80" y ="0" w ="16" h="28"/>
          <sprite x ="96" y ="0" w ="16" h="28"/>
          <sprite x ="112" y ="0" w ="16" h="28"/>
          <sprite x ="128" y ="0" w ="16" h="28"/>
        </idle_animation>
        <run_animation speed ="0.25">
          <sprite x ="0" y ="0" w ="16" h="28"/>
          <sprite x ="16" y ="0" w ="16" h="28"/>
          <sprite x ="32" y ="0" w ="16" h="28"/>
          <sprite x ="48" y ="0" w ="16" h="28"/>
          <sprite x ="64" y ="0" w ="16" h="28"/>
          <sprite x ="80" y ="0" w ="16" h="28"/>
          <sprite x ="96" y ="0" w ="16" h="28"/>
          <sprite x ="112" y ="0" w ="16" h="28"/>
        </run_animation>
        <jump_animation speed ="0.0">
          <sprite x ="0" y ="0" w ="16" h="28"/>
        </jump_animation>
        <fall_animation speed ="0.0">
          <sprite x ="16" y ="0" w ="16" h="28"/>
        </fall_animation>
      </animation>
    </player>
  </object>
</config>