<!-- Config file for the game -->

<config>
  <app>
    <title>Game Development Testbed</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="true"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="4"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
  </map>

  <player>
    <!-- The size we consider a standard tile to be (used when calculating moveSpeed and jumpHeight)-->
    <tile_size>16</tile_size>
    <gravity>9.8</gravity>
    <!-- Tiles it moves every second-->
    <move_speed_ground>3</move_speed_ground>
    <move_speed_air>2.5</move_speed_air>
    <!-- Tiles it reaches when the character jumps -->
    <jump_height>3.2</jump_height>
    <path>textures/engineer character/engineer-idle.png</path>
    <sprite x ="0" y ="0" w ="16" h="28"/>
    <sprite x ="16" y ="0" w ="16" h="28"/>
    <sprite x ="32" y ="0" w ="16" h="28"/>
    <sprite x ="48" y ="0" w ="16" h="28"/>
    <sprite x ="64" y ="0" w ="16" h="28"/>
    <sprite x ="80" y ="0" w ="16" h="28"/>
    <sprite x ="96" y ="0" w ="16" h="28"/>
    <sprite x ="112" y ="0" w ="16" h="28"/>
    <sprite x ="128" y ="0" w ="16" h="28"/>
  </player>

</config>